---

---

<section class="flex items-center justify-center">
  <div
    class="relative h-[500px] w-[1024px] flex items-center justify-center text-white px-30"
  >
    <div class="absolute inset-0 rounded-lg overflow-hidden">
      <img
        src="https://live.staticflickr.com/3938/33217485204_b3af3cbfa1_b.jpg"
        alt="Ancianos mirando hacia el frente"
        class="w-full h-full object-cover"
      />
      <div class="absolute inset-0"></div>
    </div>

    <div class="relative z-10 text-center max-w-4xl">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 opacity-60 mt-20">
        Empoderando Comunidades,
        <br />
        Transformando Vidas
      </h1>
      <p class="text-lg md:text-xl mb-8 opacity-90">
        Únete a nuestra misión para apoyar a las poblaciones vulnerables en
        Colombia. <br />Tu donación puede hacer la diferencia.
      </p>
      <a href="/donar">
        <button
          class="bg-pink-200 text-pink-800 hover:bg-pink-300 px-8 py-3 rounded-md text-lg font-medium transition-colors"
        >
          Donar Ahora
        </button>
      </a>
    </div>
  </div>
</section>
