---

---

<section
  id="about"
  class="bg-gray-800 py-12 sm:py-16 lg:py-20 px-4 sm:px-6 lg:px-8"
>
  <div class="container mx-auto max-w-6xl">
    <h2
      class="text-2xl sm:text-3xl lg:text-4xl font-bold mb-4 sm:mb-6 lg:mb-8 text-center sm:text-left"
    >
      Nuestra Misión, Visión y Valores
    </h2>
    <p
      class="text-white leading-relaxed text-base sm:text-lg lg:text-xl max-w-4xl mx-auto sm:mx-0"
    >
      En Hel-Ali, nuestra misión es empoderar a las comunidades vulnerables en
      Colombia proporcionando recursos esenciales y apoyo. Visualizamos un
      futuro donde cada persona tenga la oportunidad de prosperar, sin importar
      sus circunstancias. Nuestros valores fundamentales incluyen la compasión,
      la integridad y la colaboración, guiando nuestras acciones y asegurando
      que tengamos un impacto significativo.
    </p>
  </div>
</section>
