---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import HeroSection from "../components/HeroSection.tsx";
import MissionSection from "../components/MissionSection.tsx";
import ApproachSection from "../components/ApproachSection.tsx";
import ActivitiesSection from "../components/ActivitiesSection.tsx";
import BlogSection from "../components/BlogSection.tsx";
import StatsSection from "../components/StatsSection.tsx";
import CallToActionSection from "../components/CallToActionSection.tsx";
import Footer from "../components/Footer.tsx";
import "../styles/global.css";
---

<Layout title="Hel-Ali - Empoderando Comunidades">
  <Header client:load />
  <main>
    <HeroSection client:load />
    <MissionSection />
    <ApproachSection client:load />
    <ActivitiesSection />
    <BlogSection />
    <StatsSection />
    <CallToActionSection />
  </main>
  <Footer />
</Layout>
